<h1> <%= @restaurant.name%> Restaurants</h1>
<p>
  <%= @restaurants %>
  <%# <%= link_to "Back to list", root_path %>
  <%# <%= link_to "Edit Task", edit_path %> %> %>
</p>

<%# <%= link_to "Delete", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %> %>
